{% if not item.is_hidden %}
<div class="row {% if item.errors %}error{% endif %}">
    <label class="col-sm-2 control-label {% if item.field.required %}required{% endif %}" for="{{ label_for|default:item.id_for_label }}">
        {{ item.label }}
    </label>
    <div class="col-sm-9 controls">
        {{ item }}
        {% if item.errors %}
            <span class="text-danger">
                {{ item.errors|join:', ' }}
            </span>
        {% endif %}
    </div>
    {% if item.help_text %}
        <div><span class="glyphicon glyphicon-question-sign" title="{{ item.help_text}}" data-toggle="tooltip" data-placement="left"></span></div>
    {% endif %}
</div>
    <p></p>
{% else %}
    {{ item }}
{% endif %}