{% extends 'kb/base.html' %}
{% block title  %}МИСММ - Knowledge base{% endblock %}

{% block page_header %}
    Список пользовательских инструкций
{% endblock %}
{% block search_header %}
    <div class="row">
        <form method='get' class="form-inline pull-right">
            <label>Отдел:</label>
            {{ form.departament }}
              <div class="form-group">
                  {{ form.instruction }}
              </div>
              <button type="submit" class="btn btn-success">Найти</button>
        </form>
    </div>
{% endblock %}

{% block content %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Название</th>
                  <th>Отделы</th>
                  <th>Справки</th>
                  <th>Файл</th>
                </tr>
              </thead>
              <tbody>
              {% for instruction in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                      <a href="{% url 'kb:instruction_edit' instruction.id %}">{{ instruction.name }}</a>
                  </td>
                  <td>
                      {% for departament in instruction.departaments.all %}{{ departament.as_search_button_instructions }} {% empty %}Нет отделов {% endfor %}
                  </td>
                  <td>{% for usermanual in instruction.usermanuals.all %}{{ usermanual }}, {% empty %}Нет относится ни к каким справкам{% endfor %}</td>
                  <td>
                      {% if instruction.file %}
                        <a href="{{ instruction.file.url }}">{{ instruction.file }}</a>
                      {% else %}
                          Не загружен
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
    <a class="btn btn-success" href="{% url 'kb:instruction_add' %}"><span class="glyphicon glyphicon-plus"></span>Добавить</a>
{% endblock %}