{% extends 'kb/base.html' %}
{% block title  %}МИСММ - Knowledge base{% endblock %}

{% block header %}
<div class="row">
    <div class="col-sm-2"><h4>Справки</h4></div>
    <div class="col-sm-10">
        <div class="row">
        <form method='get' class="form-inline pull-right">
            <label>Приложение:</label>
            {{ form.app }}
            <label>Отдел:</label>
            {{ form.departament }}
              <div class="form-group">
                  {{ form.usermanual }}
              </div>
              <button type="submit" class="btn btn-success">Найти</button>
        </form>
    </div>
    </div>
</div>
{% endblock header %}

{% block content %}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>№</th>
                  <th>Название</th>
                  <th>Отделы</th>
                  <th>Приложение</th>
                  <th>Описание</th>
                  <th>Руководства</th>
                </tr>
              </thead>
              <tbody>
              {% for user_manual in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                      <a href="{% url 'kb:user_manual_view' user_manual.id %}">{{ user_manual.name }}</a>
                  </td>
                  <td>
                      {% for departament in user_manual.departaments %}{{ departament.as_search_button_usermanuals }} {% endfor %}
                  </td>
                  <td>{{ user_manual.get_app }}</td>
                  <td>{{ user_manual.description|safe }}</td>
                  <td>
                      {% for instruction in user_manual.instructions.all %}
                          {% if request.user.is_superuser %}
                            <a href="{% url 'kb:instruction_edit' instruction.id %}">{{ instruction }}</a><br>
                          {% else %}
                            {{ instruction }}<br>
                          {% endif %}
                      {% empty %}
                          Нет
                      {% endfor %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
    <a class="btn btn-success" href="{% url 'kb:user_manual_add' %}"><span class="glyphicon glyphicon-plus"></span> Добавить</a>
{% endblock %}