{% extends 'kb/base.html' %}
{% load formset_tags %}

{% block head %}
    {{ form.media.js }}
    {{ form.media.css }}
{% endblock %}

{% block page_header %}{% if object %}Справка: «{{ object.name }}» / {{ object.view_path }}{% else %}Новая справка{% endif %}{% endblock %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token  %}
    {% for item in form %}
        {% include 'kb/forms/form_item.html' %}
    {% endfor %}
    <div class="row well well-sm">
        {% if object.id %}
            <a class='btn btn-danger' href="{% url 'kb:user_manual_delete' object.id %}"><span class="glyphicon glyphicon-trash"></span> Удалить</a>
        {% endif %}
        <button class='btn btn-success pull-right' type='submit'><span class="glyphicon glyphicon-ok"></span> Сохранить</button>
    </div>
</form>

{% endblock %}